<!DOCTYPE html>
<html>
<head>
    <title>Currency Conversion</title>
</head>
<body>
<h1>Currency Conversion</h1>
{{ form(form) }}

{% if result|default(null) %}
    <p>Result: {{ result }}</p>
    <p>Exchange Rate Updated At: {{ updatedAt }}</p>
{% endif %}
</body>
</html>
